@import "tailwindcss";

@theme {
  --color-dark-1: #000000;
  --color-dark-2: #09090a;
  --color-dark-3: #101012;
  --color-dark-4: #1f1f22;
  --color-purple-primary: #5d5fef;
  --color-blue-primary: #4076dbea; /*logo*/
  --color-cream: #fffdd0;
  --color-mypurple: #4e4197ea;
  --color-myred: #8d1313ea;
  --color-beige: #fffffe;
  --color-lightpurp: #d5dcf5;
  --color-yellowbeige: #f5f1e8;
}

body {
  background-color: #fffffe; /* your beige */
}

/* fixing issue with autofill background turning white*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1a1a1a inset !important;
  -webkit-text-fill-color: #e5e7eb !important;
  caret-color: #e5e7eb;
}
